@import url("./base.css");
.cart {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
  background-color: #e9ecee;
  padding-top: 30px;
}
.cartItems {
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: var(--font-secondary);
}
.accountItems {
  margin-bottom: 20px;
  margin-left: 30px;
  background: #fff;
  margin-bottom: 20px;
  padding: 35px 40px 39px;
  color: #93959f;
}

.accountContainer > :nth-child(2) {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.accountSection > h3 {
  color: black;
}

.accountSection > p {
  color: #7e808c;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.12;
  margin-top: 5px;
  font-family: var(--font-secondary);
}

.accountSection > div {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.accountSection > div > div:first-child {
  border: 1px solid #60b246;
  color: #60b246;
  padding: 5px 15px;
  text-align: center;
}
.accountSection > div > div > p:first-child {
  font-size: 13px;
  cursor: pointer;
}
.accountSection > div > div > p:last-child {
  font-size: 14px;
  font-weight: 700;
}
.accountSection > div > div:last-child {
  color: white;
  background-color: #60b246;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
}
.cartInfo {
  width: 30%;
}
.cartInfoContainer {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: #fff;
}
.policy {
  padding: 20px;
  background-color: #fff;
}
.policy > div {
  padding: 10px;
  border: 1px dotted lightgrey;
  border-radius: 4px;
}
.policy > div > h4 {
  font-size: 15px;
  color: #3e4152;
}
.policy > div > p > span {
  color: red;
}
.policy > div > p {
  font-size: 14px;
  margin-top: 15px;
}
.scrollableContent {
  padding: 20px;
  height: 240px;
  overflow-y: scroll;
}
.amount {
  display: flex;
  justify-content: space-between;
  padding: 14px 8px;
  font-weight: 700;
  font-size: 14px;
}

.amountHeading {
  display: flex;
  justify-content: center;
  padding: 14px 8px;
  font-weight: 700;
  font-size: 14px;
}

.cartItems > h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 70px;
}
.addedItems {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.addedItems > p {
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}
.addedItems > span {
  font-size: 13px;
  color: #535665;
}
.buttonCont {
  display: flex;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  font-family: var(--font-secondary);
  cursor: pointer;
  border: 1px solid lightgrey;
}
.buttonCont button {
  padding: 2px 6px;
  text-align: center;
  border: none;
  background-color: white;
  font-family: var(--font-primary);
  color: grey;
  cursor: pointer;
}
.buttonCont button:hover {
  background-color: lightgrey;
  color: #60b246;
  font-weight: 700;
}
.buttonCont button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px dotted lightgrey;
}
.buttonCont button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px dotted lightgrey;
}
.buttonCont span {
  background-color: white;
  color: grey;
  font-size: 12px;
  padding: 2px 6px;
}

.cart > div > img {
  width: 271px;
  height: 256px;
}
.emptyCart {
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emptyCart > p {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #535665;
}
.emptyCart > span {
  margin-top: 8px;
  color: #7e808c;
}
.emptyCart > button {
  margin-top: 30px;
  padding: 11px 20px;
  background-color: #fc8019;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 15px;
  text-align: center;
}
.billDetails > h3 {
  font-size: 14px;
}
.billDetails > div {
  display: flex;
  justify-content: space-between;
  color: #686b78;
  margin-top: 10px;
}
.billDetails > div > p:first-child {
  font-size: 13px;
}
.billDetails > div > p:last-child {
  font-size: 12px;
}
.billDetails > div:nth-child(3) {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.accountSection > div > button {
  border: none;
  color: white;
  background-color: #60b246;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
